@use '../../partials/mixin.scss' as *;
@use '../../partials/variables.scss' as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid $gray;
  position: fixed; 
  top: 0; 
  z-index: 9999;
  width: 100%; 

  @include tablet {
    flex-direction: row;
  }

  justify-content: space-between;
 

  &__logo {
    width: 15rem;
    display: flex;
    justify-content: center;
  }
  &__user {
    width: 45x;
    height: 35px;
    margin-top: 0.25rem;
  }
  &__right {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  &__container {
    display: flex;
    justify-content: center;
  }
  &__logout{
    margin-left: -0.5rem;
    margin-top: 1rem;
    height: 3vh;
  }
}
