@use './src/partials/mixin.scss' as *;
@use './src/partials/variables.scss' as *;

.location {
  &__warehouse {
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    color: $blue;
    font-size: 1rem;
  }
  &__title {
    display: flex;
  }
}
