.not-found{

display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: #de354c;
  }

  p {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }

}